/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

html {
  font-family: Arial, Helvetica, sans-serif;
}

/*header*/

header {
  height: 64px;
  display: flex;
  align-items: center;
}

header img {
  margin-left: 24px;
  width: 48px;
  height: auto;
}

header span {
  font-weight: bold;
  font-size: 28px;
}

.head-list {
  margin-left: auto;
  margin-right: 24px;
}

.head-list ul {
  list-style-type: none;
  display: flex;
  font-size: 24px;
  justify-content: space-between;
  gap: 16px;
}

.head-list img {
  display: none;
}

@media screen and (max-width: 768px) {
  header span {
    display: none;
  }

  .head-list ul {
    gap: 30px;
  }

  .head-list img {
    display: block;
    width: 48px;
    height: 48px;
  }

}

/* body one */

.body-one {
  background-color: lightgray;
  height: 100%;
  padding: 32px 24px;
  display: flex;
  gap: 24px;
}

.banner1 {
  width: 60%;
}

.banner1 img {
  width: 100%;
}

.banner2 {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
  padding: 24px;
}

.banner2 .sentence1 {
  font-size: 50px;
  line-height: 1;
  font-weight: bold;
  color: rgb(72, 69, 69);
}

.banner2 .sentence2 {
  font-size: 24px;
  font-weight: bold;
  color: rgb(72, 69, 69);
  padding: 15px;
}

.banner2 .sentence3 {
  font-size: 18px;
  text-align: center;
  color: white;
  background-color: rgb(72, 69, 69);
  padding: 8px;
}

@media screen and (max-width: 768px) {
  .body-one {
    flex-direction: column;
    padding: 0;
  }

  .banner1 {
    width: 100%;
  }

  .banner2 {
    width: 100%;
  }

  .banner2 .sentence1 {
    font-size: 45px;
  }
}

/* body two */

.body-two {
  display: flex;
}

.body-two .banner3 {
  width: 60%;
  padding: 32px 24px;
}

.body-two .banner3 img {
  width: 100%;
}

.sentence4 {
  font-size: 40px;
  font-weight: bold;
  color: rgb(72, 69, 69);
  margin-top: 32px;
  margin-bottom: 24px;
  line-height: 1;
}

.body-two .sentence5 {
  font-size: 20px;
  color: rgb(72, 69, 69);
  margin-bottom: 24px;
}

.body-two .sentence6 {
  color: rgb(72, 69, 69);
  font-size: 16px;
  margin-bottom: 32px;
}

.body-two .banner4 {
  width: 40%;
  padding-top: 16px;
  border-left: 1px solid rgba(217, 213, 213, 0.943);
}

.banner4 .box {
  display: flex;
  border-block: 1px solid rgba(217, 213, 213, 0.943);

}

.banner4 .box img {
  width: 35%;
  height: auto;
  margin: 16px;
}

.banner4 .box .text {
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 40px;
}

.section-title {
  font-size: 32px;
  font-weight: bold;
  color: rgba(24, 22, 22, 0.758);
}

.section-content {
  font-size: 16px;
  color: rgba(24, 22, 22, 0.758);
  word-spacing: 2px;
}

.read-more {
  color: blue;
  word-spacing: 2px;
}

.graybg {
  background-color: #ccc;
}

@media screen and (max-width: 768px) {
  .body-two .banner3 {
    display: none;
  }

  .body-two .banner4 {
    width: 100%;

  }

  .body-two .banner4 .box img {
    width: 100%;
    margin: 0;
  }

  .body-two .banner4 .box {
    display: flex;
    flex-direction: column;
    gap: 16px;
    border-block: none;
    margin: 16px 16px;
  }

  .body-two .banner4 .box .text {
    margin-left: 16px;
    width: 100%;
    line-height: 1.5;
  }

  .graybg {
    background-color: white;
  }
}

/* body three */

.body-three {
  padding: 32px 72px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  background-color: lightgray;
}

.three-title {
  text-align: center;
}

.three-boxes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
  justify-content: center;
}

.three-box {
  background-color: #fff;
}

.three-box img {
  height: auto;
}

.section {
  padding: 16px;
  background-color: #fff;
}

@media screen and (max-width: 768px) {

  .three-boxes img {
    display: none;
  }

  .three-boxes .section-content {
    display: none;
  }

  .body-three {
    background-color: #fff;
    padding: 32px 16px;
  }

  .three-boxes {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .three-boxes .section {
    background-color: #ccc;
  }

  .section .section-title {
    font-size: 24px;
  }

}

/* body four */

.body-four {
  background-color: #fff;
}

.banner5-6 {
  display: flex;
  flex-direction: row;
  gap: 24px;
  padding: 24px;
}

.banner5 {
  width: 60%;

}

.banner5 video {
  width: 100%;
}

.banner5-text {
  padding: 24px 0 32px 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.banner6 {
  width: 40%;
}

.box-6-1 {
  background-color: #ccc;
  padding: 16px;
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.box-6-pic {
  width: 35%;

}

.box-6-pic img {
  height: auto;
}

.box-6-text {
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.box-6-1.whitebg {
  background-color: white;
}

@media screen and (max-width: 768px) {
  .banner5-text {
    display: none;
  }

  .banner6 {
    display: none;
  }

  .body-four .banner5 {
    width: 100%;
  }

  .body-four .banner5 video {
    width: 100%;
  }

  .body-four .banner5-6 {
    padding: 0;
  }

}

/* footer */

footer {
  border-top: #ccc solid 1px;
  padding: 16px 24px;
}

.footer {
  display: flex;
  justify-content: space-between;
}

.footer nav {
  display: flex;
  gap: 16px;
}

@media screen and (max-width: 768px) {
  .footer nav {
    display: none;
  }

  footer {
    padding: 16px;
  }
}