/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*header*/

header {
  height: 64px;
  display: flex;
  align-items: center;
}

header img {
  margin-left: 24px;
  width: 48px;
  height: auto;
}

header span {
  font-weight: bold;
  font-size: 32px;
}

.head-list {
  margin-left: auto;
  margin-right: 24px;
}

.head-list ul {
  list-style-type: none;
  display: flex;
  font-size: 32px;
  justify-content: space-between;
  gap: 16px;
}

/* body one */